@model Project_work.Models.DbModels.CourseTitle
@{
    ViewData["Title"] = "Edit";
}

<h1 class="alert-light text-center">Edit course title</h1>
<form asp-action="Edit" method="post">
    <div class="row">
        <div class="offset-2 col-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CourseTitleId" type="hidden"/>
            <div class="form-group">
                <label asp-for="CourseTitleName" class="control-label"></label>
                <input asp-for="CourseTitleName" class="form-control mt-2" />
                <span asp-validation-for="CourseTitleName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="offset-2 form-group mt-2">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

<div class="offset-2 mt-2">
    <a asp-action="Index">Back to List</a>
</div>
