
@{
    ViewData["Title"] = "Index";
}

<h1 class="alert alert-dark text-center">Role Management</h1>
<div class="row">
    <h2 class="text-primary text-center">@ViewBag.msg</h2>
</div>
<div class="row">
    <div class="col-6 m-auto">
        <form asp-action="CreateRole" asp-controller="Role" method="post">
            <label class="col-form-label">Role Name</label>
            <input type="text" name="userrole" value="" class="form-control" placeholder="Type Role Name...." />
            <button class="btn btn-success mt-2" type="submit">Create New Role</button>
        </form>
    </div>
</div>

