@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-1">
                <center>
                    <h2>Course Management System</h2>
                    <p><b>Our vision is making a lot's of effective programmer</b></p>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center>
                    <img src="Images/csharp.jpg" width="80" />
                    <h2>Contact Us</h2>
                    <p>Email : cms121@gmail.com</p>
                    <p>Facebook : cms@gmail.com</p>>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="Images/Java2.png" width="80" />
                    <h2>About Us</h2>
                    <p>We provided this courses for making better programmer.Our services different from others</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="Images/Php.png" width="80" />
                    <h2>Help</h2>
                    <p>Any type of problem call us (01646053194) and visit our facebook page</p>
                </center>
            </div>
        </div>
    </div>
</section>
<section>
    <img src="Images/1550-x-400-web-banner-04-scaled.jpg" class="img-fluid mt-5" height="60" />
</section>
